<div id="p-skills" class="p-skills">
  <div class="skills-container">
    <h2 class="title">Personal Skills :</h2>
    <div class="skills">
      <div class="progress">
        <h4>Leadership</h4>
        <p><span style='width:90%'></span></p>
      </div>
      <div class="progress">
        <h4>Self Motivation</h4>
        <p><span style='width:90%'></span></p>
      </div>
      <div class="progress">
        <h4>Communication</h4>
        <p><span style='width:70%'></span></p>
      </div>
      <div class="progress">
        <h4>Decision Making</h4>
        <p><span style='width:80%'></span></p>
      </div>
    </div>
    <h2 class="title">Languages :</h2>
    <div class="lang">
      <div class="progress">
        <h4>Turkish</h4>
        <p> <span style='width:90%'></span> </p>
      </div>
      <div class="progress">
        <h4>English</h4>
        <p><span style='width:80%'></span></p>
      </div>
    </div>
  </div>

  <div class="prod-and-hobbies">
    <h2 class="title">Most prod of :</h2>

    <div class="most-prod">
      <div id="item" class="item">
        <h4>Physical Organization</h4>
        <p>Creative Thinking, Effectiveness and Productivity.</p>
      </div>
      <div id="item" class="item">
        <h4>Planning</h4>
        <p>Analyzing Issues, Decision Making, Project Management and Strategic Planning.</p>
      </div>
      <div id="item" class="item">
        <h4>Team Work</h4>
        <p>Collaboration, Delegation and Goal Setting.
        </p>
      </div>
    </div>
    <!-- <h2 class="title">Hobbies :</h2> -->
    <!-- <div class="hobbies">
      <div class="item">
        <div class="icon">
          <i class="fas fa-plane"></i>
        </div>
        <h2>Travel</h2>
      </div>
      <div class="item">
        <div class="icon"><i class="fas fa-basketball-ball"></i></div>
        <h2>Basketball</h2>
      </div>
      <div class="item">
        <div class="icon"><i class="fas fa-book"></i></div>
        <h2>Reading</h2>
      </div>
    </div> -->
  </div>
</div>
