:host {


  .p-skills {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
    grid-gap: 1rem;

    place-content: center;
    margin: auto;

    @media(max-width: 912px) {
      grid-template-columns: 1fr;
      grid-template-rows: 460px 460px;

    }
  }

  .skills-container,
  .prod-and-hobbies {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    border: 1px solid cyan;
    border-radius: 2px;
  }


  .p-skills .title {
    margin: 10px 0;
  }

  .progress {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .progress h4 {
    margin-top: 10px;
  }

  .progress p {
    border: 1px solid var(--secondry-coloe);
    border-radius: 2px;
    width: 100%;
    height: 10px;
    position: relative;
  }

  .progress p span {

    background: darkcyan;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan;
    position: absolute;
    display: inline-block;
    height: 10px;
    transition: 0.5s linear;
  }


  .skills-container {
    display: grid;
    grid-template-rows: 50px auto 50px auto;
  }

  .prod-and-hobbies {
    display: grid;
    grid-template-rows: 40px auto auto auto;
  }

  .most-prod {
    width: 100%;
    max-width: 350px;
    height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;

  }

  .most-prod .item {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    transition: .5s ease-in;

  }


  .most-prod .item p {
    width: 90%;
    font-weight: 600;
    letter-spacing: 1px;
    margin: auto;
  }

  .most-prod .item h4 {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: cyan;
    text-shadow: 0 0 10px darkcyan;

  }
}